<form id="paymentForm text-xs-right" ng-submit="checkout.confirm()">
    <fieldset>

        <fieldset class="form-group">
            <label for="formBillCustomerName">Customer Name</label>
            <input type="text" ng-model="checkout.bill.customerName" class="form-control" id="formBillCustomerName" placeholder="John Smith" />
        </fieldset>
        <fieldset class="form-group">
            <label for="formBillCustomerPhone">Customer Phone</label>
            <input type="tel" ng-model="checkout.bill.customerPhone" class="form-control" id="formBillCustomerPhone" placeholder="+7945554441225" />
        </fieldset>
        <fieldset class="form-group">
            <label for="formBillCustomerEmail">Customer Email</label>
            <input type="email" ng-model="checkout.bill.customerEmail" class="form-control" id="formBillCustomerEmail" placeholder="john@smith.com" />
        </fieldset>
        <fieldset class="form-group">
            <label for="formBillAddress">Address</label>
            <input type="text" ng-model="checkout.bill.address" class="form-control" id="formBillAddress" placeholder="7723, Astronaut avenue 33-44 " />
        </fieldset>
        <fieldset class="form-group">
            <label for="formBilldesiredDelivery">Desired Delivery</label>
            <input type="datetime-local"
                   step="1800"
                   min="{{checkout.deliveryMin | date:'yyyy-MM-ddTHH:mm:ss'}}"
                   max="{{checkout.deliveryMax | date:'yyyy-MM-ddTHH:mm:ss'}}"
                   ng-model="checkout.bill.desiredDelivery"
                   class="form-control"
                   id="formBilldesiredDelivery"/>
        </fieldset>
    </fieldset>
    <fieldset class="text-xs-center">

        <label class="c-input c-radio">
            <i class="fa fa-2x fa-money"></i>
            <input id="radio1" ng-model="checkout.method"  type="radio" checked="" value="cash" />
            <span class="c-indicator"></span>
            I will pay with cash.
        </label>
        <label class="c-input c-radio">
            <i class="fa fa-2x fa-credit-card"></i>
            <input id="radio2" ng-model="checkout.method" type="radio" value="card" />
            <span class="c-indicator"></span>
            I will pay with credit card.
        </label>
    </fieldset>
    <fieldset id="cardPayment" ng-show="checkout.method == 'card'">
        <fieldset class="form-group">
            <label for="formGroupExampleInput">Card number</label>
            <input type="text" ng-model="checkout.cardpayment.number" class="form-control" id="formGroupExampleInput" placeholder="0000 0000 0000 0000" />
        </fieldset>
        <fieldset class="form-group">
            <label for="formGroupExampleInput2">Card holder name</label>
            <input type="text" ng-model="checkout.cardpayment.name" class="form-control" id="formGroupExampleInput2" placeholder="John Smith" />
        </fieldset>

        <label>Valid through</label>
        <fieldset class="form-group">
            <div class="col-xs-4">
                <input type="text" ng-model="checkout.cardpayment.validm" class="form-control" placeholder="MM" />
            </div>
            <div class="col-xs-4">
                <input type="text" ng-model="checkout.cardpayment.validy" class="form-control" placeholder="YY" />
            </div>
        </fieldset>
        <label>CVV</label>
        <fieldset class="form-group">
            <div class="col-xs-4">
                <input type="password" ng-model="checkout.cardpayment.ccv" class="form-control" placeholder="000" />
            </div>
        </fieldset>
    </fieldset>
    <button type="submit" id="submit"  class="btn btn-primary btn-lg">Confirm Order</button>
</form>