<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <title>Pizza Store Cart</title>
</head>
<body  ng-app="cart" ng-cloak="" ng-controller="CartCtrl as cart">
<object th:include="fragments/nav :: nav" th:remove="tag" />
<!--Actual content begin-->
<div class="container" ng-hide="cart.isEmpty">
    <h1 class="text-xs-center">Cart</h1>
    <cart-list-edit></cart-list-edit>
    <a class="btn btn-lg btn-primary" href="/">Back to Store</a>
    <a class="btn btn-lg btn-primary" href="/checkout">Checkout</a>
</div>
<div class="container text-xs-center" ng-show="cart.isEmpty">
    <h1>Your cart is empty!</h1>
    <a class="btn btn-lg btn-primary" href="/">Add some pizzas</a>
</div>

<!--Actual content end-->

<object th:include="fragments/vendor-scripts :: vendor-scripts" th:remove="tag" />
<!--User scripts begin-->
<script src="js/shared/cart-service.js" th:src="@{js/shared/cart-service.js}"></script>
<script src="js/app.js" th:src="@{js/cart.js}"></script>
<!--User scripts end-->
<script th:include="fragments/vendor-scripts :: analytics"></script>
</body>
</html>