<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <title>Pizza Store</title>
</head>
<body  ng-app="checkout" ng-controller="CheckoutCtrl as checkout" ng-cloak="">
<object th:include="fragments/nav :: nav" th:remove="tag" />
<!--Actual content begin-->

<h1>Order confirmation page.</h1>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Pizza Name</th>
        <th>Pizza Size</th>
        <th>Quantity</th>
        <th>Pizza Price</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in checkout.items track by $index">
        <th scope="row">{{$index + 1}}</th>
        <td>{{item.pizzaBase.name}}</td>
        <td>{{item.pizza.size}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.pizza.price}}</td>
        <td>{{item.pizza.price * item.quantity}}</td>
    </tr>
    <tr>
        <th>Total</th>
        <td>{{ checkout.total }}</td>
    </tr>
    </tbody>
</table>
<form id="paymentForm text-xs-right" ng-submit="checkout.confirm()">
    <fieldset class="text-xs-center">
        <label class="c-input c-radio">
            <i class="fa fa-2x fa-money"></i>
            <input id="radio1" ng-model="checkout.method"  type="radio" checked="" value="cash" />
            <span class="c-indicator"></span>
            I will pay with cash.
        </label>
        <label class="c-input c-radio">
            <i class="fa fa-2x fa-credit-card"></i>
            <input id="radio2" ng-model="checkout.method" type="radio" value="card" />
            <span class="c-indicator"></span>
            I will pay with credit card.
        </label>
    </fieldset>
    <fieldset id="cardPayment" ng-show="checkout.method == 'card'">
        <fieldset class="form-group">
            <label for="formGroupExampleInput">Card number</label>
            <input type="text" ng-model="checkout.number" class="form-control" id="formGroupExampleInput" placeholder="0000 0000 0000 0000" />
        </fieldset>
        <fieldset class="form-group">
            <label for="formGroupExampleInput2">Card holder name</label>
            <input type="text" ng-model="checkout.name" class="form-control" id="formGroupExampleInput2" placeholder="John Smith" />
        </fieldset>

        <label>Valid through</label>
        <fieldset class="form-group">
            <div class="col-xs-4">
                <input type="text" ng-model="checkout.validm" class="form-control" placeholder="MM" />
            </div>
            <div class="col-xs-4">
                <input type="text" ng-model="checkout.validy" class="form-control" placeholder="YY" />
            </div>
        </fieldset>
        <label>CVV</label>
        <fieldset class="form-group">
            <div class="col-xs-4">
                <input type="text" ng-model="checkout.ccv" class="form-control" placeholder="000" />
            </div>
        </fieldset>
    </fieldset>
    <button type="submit" id="submit"  class="btn btn-primary btn-lg">Confirm Order</button>
</form>
<!--Actual content end-->

<object th:include="fragments/vendor-scripts :: vendor-scripts" th:remove="tag" />
<!--User scripts begin-->
<script src="js/shared/cart-service.js" th:src="@{js/shared/cart-service.js}"></script>
<script src="js/app.js" th:src="@{js/checkout.js}"></script>
<!--User scripts end-->
<script th:include="fragments/vendor-scripts :: analytics"></script>
</body>
</html>
