<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <title>Pizza Store</title>
</head>
<body  ng-app="checkout" ng-controller="CheckoutCtrl as checkout" ng-cloak="">
<object th:include="fragments/nav :: nav" th:remove="tag" />
<!--Actual content begin-->

<h1>Order confirmation page.</h1>
<cart-list></cart-list>
<checkout-form></checkout-form>
<!--Actual content end-->

<object th:include="fragments/vendor-scripts :: vendor-scripts" th:remove="tag" />
<!--User scripts begin-->
<script src="js/shared/cart-service.js" th:src="@{js/shared/cart-service.js}"></script>
<script src="js/app.js" th:src="@{js/checkout.js}"></script>
<!--User scripts end-->
<script th:include="fragments/vendor-scripts :: analytics"></script>
</body>
</html>
